@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#canvas {
  display: block;
}

.mensaje {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#mensaje1 {
  top: 33%;
  font-size: 2em; /* Tamaño de fuente relativo */
  animation: pulse 1s infinite;
}

#mensaje2, #mensaje3, #mensaje4 {
  top: calc(40% + 2em); /* Espacio vertical entre líneas */
  font-size: 1.5em; /* Tamaño de fuente relativo */
}

#mensaje5 {
  top: calc(55% + 1em); /* Espacio vertical entre líneas */
  font-size: 1em; /* Tamaño de fuente relativo */
}

@keyframes pulse {
  0% { font-size: 2em; }
  50% { font-size: 2.1em; }
  100% { font-size: 2em; }
}
